@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">

    <div class="title">
        <h4>Our Team Section</h4>
    </div>

    <div class="d-flex gap-3 my-3 mx-auto card_Container" style="width: fit-content;">

        <div class="card shadow">
            <div class="imbBx shadow">
                <img width="240" height="400" src="~/img/ourTeam/Ammar.jpg" alt="">
            </div>

            <div class="content">
                <div class="contentBx">
                    <h3>Ammar Ahmed <br><span>Creative Leader</span></h3>
                </div>
                <ul class="sci">
                    <li style="--i: 1">
                        <a href="https://www.instagram.com/ammar_0mran/"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li style="--i: 2">
                        <a href="https://github.com/ammar180"><i class="fa-brands fa-github"></i></a>
                    </li>
                    <li style="--i: 3">
                        <a href="https://www.linkedin.com/in/ammar-ahmed-353043264/"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="card">

            <div class="imbBx">
               <img width="240" height="400" src="~/img/ourTeam/Ahmed.jpg" alt="">
            </div>

            <div class="content">
                <div class="contentBx">
                    <h3>Ahmed Moustafa <br><span>UI/UX Designer</span></h3>
                </div>
                <ul class="sci">
                    <li style="--i: 1">
                        <a href="https://www.instagram.com/ahmeed_musttafa_/"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li style="--i: 2">
                        <a href="https://github.com/ahmed77mostafa"><i class="fa-brands fa-github"></i></a>
                    </li>
                    <li style="--i: 3">
                        <a href="https://www.linkedin.com/in/ahmed-mostafa-259327268/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>

        </div>


        <div class="card">

            <div class="imbBx">
               <img width="240" height="400" src="~/img/ourTeam/Magdy.jpg" alt="">
            </div>

            <div class="content">
                <div class="contentBx">
                    <h3>Magdy Emad <br><span>Web Developer</span></h3>
                </div>
                <ul class="sci">
                    <li style="--i: 1">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li style="--i: 2">
                        <a href="https://github.com/MagdyEm3d"><i class="fa-brands fa-github"></i></a>
                    </li>
                    <li style="--i: 3">
                        <a href="https://www.linkedin.com/in/magdy-emad-371698263/"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="card">

            <div class="imbBx">
               <img width="240" height="400" src="~/img/ourTeam/Abrar.jpg" alt="">
            </div>

            <div class="content">
                <div class="contentBx">
                    <h3>Abrar Hamdy <br><span>Front-End Web Developer</span></h3>
                </div>
                <ul class="sci">
                    <li style="--i: 1">
                        <a href="https://www.instagram.com/ah4996319/?igsh=ZWRtMmY0eGl5azNt"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li style="--i: 2">
                        <a href="https://github.com/abrarhamdy111"><i class="fa-brands fa-github"></i></a>
                    </li>
                    <li style="--i: 3">
                        <a href="https://www.linkedin.com/in/abrar-hamdy-ah792007/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>

        </div>

        <div class="card">

            <div class="imbBx">
               <img width="240" height="400" src="~/img/ourTeam/Donia.jpg" alt="">
            </div>

            <div class="content">
                <div class="contentBx">
                    <h3>Donia  <br><span>Back-End Web Developer</span></h3>
                </div>
                <ul class="sci">
                    <li style="--i: 1">
                        <a href="https://www.instagram.com/doniaelsatar/?igsh=MWFkazN2ZXBrMzBhYg%3D%3D"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li style="--i: 2">
                        <a href="https://github.com/DoniaAbdelsatar"><i class="fa-brands fa-github"></i></a>
                    </li>
                    <li style="--i: 3">
                        <a href="https://www.linkedin.com/in/donia-abd-elsatar-9bb621281/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin-in"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</div>
