@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.bundle.scp.css';

/* _content/TeamTracker/Views/Articles/BMC.cshtml.rz.scp.css */
ul.lst-kix_z2xouny50gsi-3[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-2[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-1[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-0[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-7[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-6[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-5[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-4[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-8[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-8[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-6[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-7[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-2[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-4[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-1[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-5[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-4[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-2[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-3[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-3[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-6[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-0[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-5[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-1[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-8[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-7[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-0[b-oe8itzzkuh] {
    list-style-type: none
}

.lst-kix_73enm78wsupk-4 > li[b-oe8itzzkuh]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-3 > li[b-oe8itzzkuh]:before {
    content: "\0025cf   "
}

.lst-kix_73enm78wsupk-2 > li[b-oe8itzzkuh]:before {
    content: "\0025a0   "
}

.lst-kix_73enm78wsupk-1 > li[b-oe8itzzkuh]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-0 > li[b-oe8itzzkuh]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-2[b-oe8itzzkuh] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-3 > li[b-oe8itzzkuh]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-1[b-oe8itzzkuh] {
    list-style-type: none
}

.lst-kix_r0f4mw81x6k6-0 > li[b-oe8itzzkuh]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-0[b-oe8itzzkuh] {
    list-style-type: none
}

.lst-kix_r0f4mw81x6k6-1 > li[b-oe8itzzkuh]:before {
    content: "\0025cb   "
}

ul.lst-kix_60t8w7aofqwz-6[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_60t8w7aofqwz-5[b-oe8itzzkuh] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-2 > li[b-oe8itzzkuh]:before {
    content: "\0025a0   "
}

ul.lst-kix_60t8w7aofqwz-4[b-oe8itzzkuh] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-6 > li[b-oe8itzzkuh]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-6 > li[b-oe8itzzkuh]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-3[b-oe8itzzkuh] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-7 > li[b-oe8itzzkuh]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-1 > li[b-oe8itzzkuh]:before {
    content: "\0025cb   "
}

.lst-kix_z2xouny50gsi-7 > li[b-oe8itzzkuh]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-0 > li[b-oe8itzzkuh]:before {
    content: "\0025cf   "
}

.lst-kix_60t8w7aofqwz-8 > li[b-oe8itzzkuh]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-8 > li[b-oe8itzzkuh]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-7 > li[b-oe8itzzkuh]:before {
    content: "\0025cb   "
}

.lst-kix_r0f4mw81x6k6-6 > li[b-oe8itzzkuh]:before {
    content: "\0025cf   "
}

.lst-kix_r0f4mw81x6k6-5 > li[b-oe8itzzkuh]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-3 > li[b-oe8itzzkuh]:before {
    content: "\0025cf   "
}

.lst-kix_r0f4mw81x6k6-2 > li[b-oe8itzzkuh]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-4 > li[b-oe8itzzkuh]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-5 > li[b-oe8itzzkuh]:before {
    content: "\0025a0   "
}

.lst-kix_60t8w7aofqwz-4 > li[b-oe8itzzkuh]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-5 > li[b-oe8itzzkuh]:before {
    content: "\0025a0   "
}

.lst-kix_73enm78wsupk-6 > li[b-oe8itzzkuh]:before {
    content: "\0025cf   "
}

.lst-kix_73enm78wsupk-7 > li[b-oe8itzzkuh]:before {
    content: "\0025cb   "
}

li.li-bullet-0[b-oe8itzzkuh]:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_73enm78wsupk-8 > li[b-oe8itzzkuh]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-0 > li[b-oe8itzzkuh]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-1 > li[b-oe8itzzkuh]:before {
    content: "\0025cb   "
}

.lst-kix_r0f4mw81x6k6-8 > li[b-oe8itzzkuh]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-2 > li[b-oe8itzzkuh]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-5 > li[b-oe8itzzkuh]:before {
    content: "\0025a0   "
}

ul.lst-kix_60t8w7aofqwz-8[b-oe8itzzkuh] {
    list-style-type: none
}

ul.lst-kix_60t8w7aofqwz-7[b-oe8itzzkuh] {
    list-style-type: none
}

.lst-kix_z2xouny50gsi-3 > li[b-oe8itzzkuh]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-4 > li[b-oe8itzzkuh]:before {
    content: "\0025cb   "
}

ol[b-oe8itzzkuh] {
    margin: 0;
    padding: 0
}

table td[b-oe8itzzkuh],
table th[b-oe8itzzkuh] {
    padding: 0
}

.c3[b-oe8itzzkuh] {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5[b-oe8itzzkuh] {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c1[b-oe8itzzkuh] {
    color: #000000;
    font-weight: 800;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Nunito";
    font-style: normal
}

.c2[b-oe8itzzkuh] {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Nunito";
    font-style: normal
}

.c0[b-oe8itzzkuh] {
    color: #000000;
    font-weight: 900;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 27pt;
    font-family: "Nunito";
    font-style: normal
}

.c4[b-oe8itzzkuh] {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c6[b-oe8itzzkuh] {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c9[b-oe8itzzkuh] {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c7[b-oe8itzzkuh] {
    font-size: 16pt;
    font-family: "Nunito";
    font-weight: 800
}

.c8[b-oe8itzzkuh] {
    padding: 0;
    margin: 0
}

.title[b-oe8itzzkuh] {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle[b-oe8itzzkuh] {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li[b-oe8itzzkuh] {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

a[b-oe8itzzkuh] {
    text-decoration: none;
}

p[b-oe8itzzkuh] {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1[b-oe8itzzkuh] {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2[b-oe8itzzkuh] {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3[b-oe8itzzkuh] {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4[b-oe8itzzkuh] {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5[b-oe8itzzkuh] {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6[b-oe8itzzkuh] {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

.container[b-oe8itzzkuh] {
    width: 100%;
    margin: auto;
    padding: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 7px 15px rgba(0 0 0/20%);
}
/* _content/TeamTracker/Views/Articles/Deployment.cshtml.rz.scp.css */

ul.lst-kix_z2xouny50gsi-3[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-2[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-1[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-0[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-7[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-6[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-5[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-4[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-8[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-8[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-6[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-7[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-2[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-4[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-1[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-5[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-4[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-2[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-3[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-3[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-6[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-0[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-5[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-1[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-8[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-7[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-0[b-deu0nup80k] {
    list-style-type: none
}

.lst-kix_73enm78wsupk-4 > li[b-deu0nup80k]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-3 > li[b-deu0nup80k]:before {
    content: "\0025cf   "
}

.lst-kix_73enm78wsupk-2 > li[b-deu0nup80k]:before {
    content: "\0025a0   "
}

.lst-kix_73enm78wsupk-1 > li[b-deu0nup80k]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-0 > li[b-deu0nup80k]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-2[b-deu0nup80k] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-3 > li[b-deu0nup80k]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-1[b-deu0nup80k] {
    list-style-type: none
}

.lst-kix_r0f4mw81x6k6-0 > li[b-deu0nup80k]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-0[b-deu0nup80k] {
    list-style-type: none
}

.lst-kix_r0f4mw81x6k6-1 > li[b-deu0nup80k]:before {
    content: "\0025cb   "
}

ul.lst-kix_60t8w7aofqwz-6[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_60t8w7aofqwz-5[b-deu0nup80k] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-2 > li[b-deu0nup80k]:before {
    content: "\0025a0   "
}

ul.lst-kix_60t8w7aofqwz-4[b-deu0nup80k] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-6 > li[b-deu0nup80k]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-6 > li[b-deu0nup80k]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-3[b-deu0nup80k] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-7 > li[b-deu0nup80k]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-1 > li[b-deu0nup80k]:before {
    content: "\0025cb   "
}

.lst-kix_z2xouny50gsi-7 > li[b-deu0nup80k]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-0 > li[b-deu0nup80k]:before {
    content: "\0025cf   "
}

.lst-kix_60t8w7aofqwz-8 > li[b-deu0nup80k]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-8 > li[b-deu0nup80k]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-7 > li[b-deu0nup80k]:before {
    content: "\0025cb   "
}

.lst-kix_r0f4mw81x6k6-6 > li[b-deu0nup80k]:before {
    content: "\0025cf   "
}

.lst-kix_r0f4mw81x6k6-5 > li[b-deu0nup80k]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-3 > li[b-deu0nup80k]:before {
    content: "\0025cf   "
}

.lst-kix_r0f4mw81x6k6-2 > li[b-deu0nup80k]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-4 > li[b-deu0nup80k]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-5 > li[b-deu0nup80k]:before {
    content: "\0025a0   "
}

.lst-kix_60t8w7aofqwz-4 > li[b-deu0nup80k]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-5 > li[b-deu0nup80k]:before {
    content: "\0025a0   "
}

.lst-kix_73enm78wsupk-6 > li[b-deu0nup80k]:before {
    content: "\0025cf   "
}

.lst-kix_73enm78wsupk-7 > li[b-deu0nup80k]:before {
    content: "\0025cb   "
}

li.li-bullet-0[b-deu0nup80k]:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_73enm78wsupk-8 > li[b-deu0nup80k]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-0 > li[b-deu0nup80k]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-1 > li[b-deu0nup80k]:before {
    content: "\0025cb   "
}

.lst-kix_r0f4mw81x6k6-8 > li[b-deu0nup80k]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-2 > li[b-deu0nup80k]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-5 > li[b-deu0nup80k]:before {
    content: "\0025a0   "
}

ul.lst-kix_60t8w7aofqwz-8[b-deu0nup80k] {
    list-style-type: none
}

ul.lst-kix_60t8w7aofqwz-7[b-deu0nup80k] {
    list-style-type: none
}

.lst-kix_z2xouny50gsi-3 > li[b-deu0nup80k]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-4 > li[b-deu0nup80k]:before {
    content: "\0025cb   "
}

ol[b-deu0nup80k] {
    margin: 0;
    padding: 0
}

table td[b-deu0nup80k],
table th[b-deu0nup80k] {
    padding: 0
}

.c3[b-deu0nup80k] {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5[b-deu0nup80k] {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c1[b-deu0nup80k] {
    color: #000000;
    font-weight: 800;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Nunito";
    font-style: normal
}

.c2[b-deu0nup80k] {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Nunito";
    font-style: normal
}

.c0[b-deu0nup80k] {
    color: #000000;
    font-weight: 900;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 27pt;
    font-family: "Nunito";
    font-style: normal
}

.c4[b-deu0nup80k] {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c6[b-deu0nup80k] {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c9[b-deu0nup80k] {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c7[b-deu0nup80k] {
    font-size: 16pt;
    font-family: "Nunito";
    font-weight: 800
}

.c8[b-deu0nup80k] {
    padding: 0;
    margin: 0
}

.title[b-deu0nup80k] {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle[b-deu0nup80k] {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li[b-deu0nup80k] {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p[b-deu0nup80k] {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1[b-deu0nup80k] {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2[b-deu0nup80k] {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3[b-deu0nup80k] {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4[b-deu0nup80k] {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5[b-deu0nup80k] {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6[b-deu0nup80k] {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

.container[b-deu0nup80k] {
    width: 100%;
    margin: auto;
    padding: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 7px 15px rgba(0 0 0/20%);
}

ol[b-deu0nup80k] {
    list-style-type: decimal;
    padding-left: 20px;
}

    ol li[b-deu0nup80k] {
        margin-bottom: 10px;
    }

ul.no-bullet[b-deu0nup80k] {
    list-style-type: none;
    padding-left: 20px; /* Indent the nested list */
}
/* _content/TeamTracker/Views/Articles/Index.cshtml.rz.scp.css */
.wrapper[b-8hydx6duei] {
    width: 95%;
    margin: 0 auto;
}

#search-container[b-8hydx6duei] {
    margin: 1em 0;
}

    #search-container input[b-8hydx6duei] {
        background-color: transparent;
        width: 40%;
        border-bottom: 2px solid #110f29;
        padding: 1em 0.3em;
    }

        #search-container input:focus[b-8hydx6duei] {
            border-bottom-color: #6759ff;
        }

    #search-container button[b-8hydx6duei] {
        padding: 1em 2em;
        margin-left: 1em;
        background-color: #6759ff;
        color: #ffffff;
        border-radius: 5px;
        margin-top: 0.5em;
    }

#search[b-8hydx6duei] {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    #search:hover[b-8hydx6duei] {
        background-color: #e0e0e0;
        color: #333;
    }

    #search:active[b-8hydx6duei] {
        background-color: #d0d0d0;
        color: #111;
    }

.button-value[b-8hydx6duei] {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .button-value:hover[b-8hydx6duei] {
        background-color: #e0e0e0;
        color: #333;
    }

    .button-value:active[b-8hydx6duei] {
        background-color: #d0d0d0;
        color: #111;
    }

.acv[b-8hydx6duei] {
    background-color: #6759ff;
    color: #ffffff;
}

#products[b-8hydx6duei] {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
    padding: 2em 0;
}

.crd[b-8hydx6duei] {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

.image-container[b-8hydx6duei] {
    text-align: center;
}

img[b-8hydx6duei] {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}

.container[b-8hydx6duei] {
    padding-top: 1em;
    color: #110f29;
}

    .container h5[b-8hydx6duei] {
        font-weight: 500;
    }


@media screen and (max-width: 720px) {
    img[b-8hydx6duei] {
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }

    .crd[b-8hydx6duei] {
        max-width: 10em;
        margin-top: 1em;
    }

    #products[b-8hydx6duei] {
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }
}
/* _content/TeamTracker/Views/Articles/POMODORO.cshtml.rz.scp.css */
.lst-kix_plgnwto0e4xp-8 > li[b-frpgfn64y6]:before {
    content: "\0025a0   "
}

ul.lst-kix_plgnwto0e4xp-8[b-frpgfn64y6] {
    list-style-type: none
}

ul.lst-kix_plgnwto0e4xp-7[b-frpgfn64y6] {
    list-style-type: none
}

ul.lst-kix_plgnwto0e4xp-6[b-frpgfn64y6] {
    list-style-type: none
}

.lst-kix_plgnwto0e4xp-7 > li[b-frpgfn64y6]:before {
    content: "\0025cb   "
}

ul.lst-kix_plgnwto0e4xp-5[b-frpgfn64y6] {
    list-style-type: none
}

ul.lst-kix_plgnwto0e4xp-4[b-frpgfn64y6] {
    list-style-type: none
}

ul.lst-kix_plgnwto0e4xp-3[b-frpgfn64y6] {
    list-style-type: none
}

ul.lst-kix_plgnwto0e4xp-2[b-frpgfn64y6] {
    list-style-type: none
}

ul.lst-kix_plgnwto0e4xp-1[b-frpgfn64y6] {
    list-style-type: none
}

.lst-kix_plgnwto0e4xp-6 > li[b-frpgfn64y6]:before {
    content: "\0025cf   "
}

ul.lst-kix_plgnwto0e4xp-0[b-frpgfn64y6] {
    list-style-type: none
}

.lst-kix_plgnwto0e4xp-3 > li[b-frpgfn64y6]:before {
    content: "\0025cf   "
}

.lst-kix_plgnwto0e4xp-5 > li[b-frpgfn64y6]:before {
    content: "\0025a0   "
}

li.li-bullet-0[b-frpgfn64y6]:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_plgnwto0e4xp-4 > li[b-frpgfn64y6]:before {
    content: "\0025cb   "
}

.lst-kix_plgnwto0e4xp-1 > li[b-frpgfn64y6]:before {
    content: "\0025cb   "
}

.lst-kix_plgnwto0e4xp-2 > li[b-frpgfn64y6]:before {
    content: "\0025a0   "
}

.lst-kix_plgnwto0e4xp-0 > li[b-frpgfn64y6]:before {
    content: "\0025cf   "
}

ol[b-frpgfn64y6] {
    margin: 0;
    padding: 0
}

table td[b-frpgfn64y6],
table th[b-frpgfn64y6] {
    padding: 0
}

.c1[b-frpgfn64y6] {
    margin-left: 18pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c0[b-frpgfn64y6] {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Nunito";
    font-style: normal
}

.c2[b-frpgfn64y6] {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Nunito";
    font-style: normal
}

.c8[b-frpgfn64y6] {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Nunito";
    font-style: normal
}

.c16[b-frpgfn64y6] {
    padding-top: 0pt;
    padding-bottom: 3pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c15[b-frpgfn64y6] {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 26pt;
    font-family: "Nunito";
    font-style: normal
}

.c11[b-frpgfn64y6] {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Nunito";
    font-style: normal
}

.c10[b-frpgfn64y6] {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c6[b-frpgfn64y6] {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    margin-bottom: 0;
    text-align: left;
    font-weight: bold;
}

.c3[b-frpgfn64y6] {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c14[b-frpgfn64y6] {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.3;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c12[b-frpgfn64y6] {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c7[b-frpgfn64y6] {
    background-color: #ffffff;
    max-width: 504pt;
    padding: 55pt;
    margin-top: 30rem;
}

.c9[b-frpgfn64y6] {
    font-size: 16pt;
    font-family: "Nunito";
    font-weight: 600
}

.c5[b-frpgfn64y6] {
    padding: 0;
    margin: 0
}

.c17[b-frpgfn64y6] {
    font-weight: 800;
    font-family: "Nunito"
}

.c4[b-frpgfn64y6] {
    height: 11pt
}

.c13[b-frpgfn64y6] {
    margin-left: 18pt
}

.title[b-frpgfn64y6] {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center
}

.subtitle[b-frpgfn64y6] {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li[b-frpgfn64y6] {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p[b-frpgfn64y6] {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1[b-frpgfn64y6] {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2[b-frpgfn64y6] {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3[b-frpgfn64y6] {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4[b-frpgfn64y6] {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5[b-frpgfn64y6] {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

a[b-frpgfn64y6] {
    text-decoration: none;
}

h6[b-frpgfn64y6] {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}
/* _content/TeamTracker/Views/Articles/Software.cshtml.rz.scp.css */

ul.lst-kix_z2xouny50gsi-3[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-2[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-1[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-0[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-7[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-6[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-5[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-4[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-8[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-8[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-6[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-7[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-2[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-4[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-1[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-5[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-4[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-2[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-3[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-3[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-6[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-0[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-5[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-1[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-8[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-7[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-0[b-rzk85f505a] {
    list-style-type: none
}

.lst-kix_73enm78wsupk-4 > li[b-rzk85f505a]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-3 > li[b-rzk85f505a]:before {
    content: "\0025cf   "
}

.lst-kix_73enm78wsupk-2 > li[b-rzk85f505a]:before {
    content: "\0025a0   "
}

.lst-kix_73enm78wsupk-1 > li[b-rzk85f505a]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-0 > li[b-rzk85f505a]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-2[b-rzk85f505a] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-3 > li[b-rzk85f505a]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-1[b-rzk85f505a] {
    list-style-type: none
}

.lst-kix_r0f4mw81x6k6-0 > li[b-rzk85f505a]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-0[b-rzk85f505a] {
    list-style-type: none
}

.lst-kix_r0f4mw81x6k6-1 > li[b-rzk85f505a]:before {
    content: "\0025cb   "
}

ul.lst-kix_60t8w7aofqwz-6[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_60t8w7aofqwz-5[b-rzk85f505a] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-2 > li[b-rzk85f505a]:before {
    content: "\0025a0   "
}

ul.lst-kix_60t8w7aofqwz-4[b-rzk85f505a] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-6 > li[b-rzk85f505a]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-6 > li[b-rzk85f505a]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-3[b-rzk85f505a] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-7 > li[b-rzk85f505a]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-1 > li[b-rzk85f505a]:before {
    content: "\0025cb   "
}

.lst-kix_z2xouny50gsi-7 > li[b-rzk85f505a]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-0 > li[b-rzk85f505a]:before {
    content: "\0025cf   "
}

.lst-kix_60t8w7aofqwz-8 > li[b-rzk85f505a]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-8 > li[b-rzk85f505a]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-7 > li[b-rzk85f505a]:before {
    content: "\0025cb   "
}

.lst-kix_r0f4mw81x6k6-6 > li[b-rzk85f505a]:before {
    content: "\0025cf   "
}

.lst-kix_r0f4mw81x6k6-5 > li[b-rzk85f505a]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-3 > li[b-rzk85f505a]:before {
    content: "\0025cf   "
}

.lst-kix_r0f4mw81x6k6-2 > li[b-rzk85f505a]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-4 > li[b-rzk85f505a]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-5 > li[b-rzk85f505a]:before {
    content: "\0025a0   "
}

.lst-kix_60t8w7aofqwz-4 > li[b-rzk85f505a]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-5 > li[b-rzk85f505a]:before {
    content: "\0025a0   "
}

.lst-kix_73enm78wsupk-6 > li[b-rzk85f505a]:before {
    content: "\0025cf   "
}

.lst-kix_73enm78wsupk-7 > li[b-rzk85f505a]:before {
    content: "\0025cb   "
}

li.li-bullet-0[b-rzk85f505a]:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_73enm78wsupk-8 > li[b-rzk85f505a]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-0 > li[b-rzk85f505a]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-1 > li[b-rzk85f505a]:before {
    content: "\0025cb   "
}

.lst-kix_r0f4mw81x6k6-8 > li[b-rzk85f505a]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-2 > li[b-rzk85f505a]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-5 > li[b-rzk85f505a]:before {
    content: "\0025a0   "
}

ul.lst-kix_60t8w7aofqwz-8[b-rzk85f505a] {
    list-style-type: none
}

ul.lst-kix_60t8w7aofqwz-7[b-rzk85f505a] {
    list-style-type: none
}

.lst-kix_z2xouny50gsi-3 > li[b-rzk85f505a]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-4 > li[b-rzk85f505a]:before {
    content: "\0025cb   "
}

ol[b-rzk85f505a] {
    margin: 0;
    padding: 0
}

table td[b-rzk85f505a],
table th[b-rzk85f505a] {
    padding: 0
}

.c3[b-rzk85f505a] {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5[b-rzk85f505a] {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c1[b-rzk85f505a] {
    color: #000000;
    font-weight: 800;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Nunito";
    font-style: normal
}

.c2[b-rzk85f505a] {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Nunito";
    font-style: normal
}

.c0[b-rzk85f505a] {
    color: #000000;
    font-weight: 900;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 27pt;
    font-family: "Nunito";
    font-style: normal
}

.c4[b-rzk85f505a] {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c6[b-rzk85f505a] {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c9[b-rzk85f505a] {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c7[b-rzk85f505a] {
    font-size: 16pt;
    font-family: "Nunito";
    font-weight: 800
}

.c8[b-rzk85f505a] {
    padding: 0;
    margin: 0
}

.title[b-rzk85f505a] {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle[b-rzk85f505a] {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li[b-rzk85f505a] {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p[b-rzk85f505a] {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1[b-rzk85f505a] {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2[b-rzk85f505a] {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3[b-rzk85f505a] {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4[b-rzk85f505a] {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5[b-rzk85f505a] {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6[b-rzk85f505a] {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

.container[b-rzk85f505a] {
    width: 100%;
    margin: auto;
    padding: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 7px 15px rgba(0 0 0/20%);
}

ol[b-rzk85f505a] {
    list-style-type: decimal;
    padding-left: 20px;
}

    ol li[b-rzk85f505a] {
        margin-bottom: 10px;
    }

ul.no-bullet[b-rzk85f505a] {
    list-style-type: none;
    padding-left: 20px; /* Indent the nested list */
}
/* _content/TeamTracker/Views/Articles/WebDevelopment.cshtml.rz.scp.css */

ul.lst-kix_z2xouny50gsi-3[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-2[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-1[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-0[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-7[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-6[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-5[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-4[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-8[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-8[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-6[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-7[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-2[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-4[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-1[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-5[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-4[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-2[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-3[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-3[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-6[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-0[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-5[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-1[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-8[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-7[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-0[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_73enm78wsupk-4 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-3 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_73enm78wsupk-2 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_73enm78wsupk-1 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-0 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-2[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-3 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-1[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_r0f4mw81x6k6-0 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-0[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_r0f4mw81x6k6-1 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

ul.lst-kix_60t8w7aofqwz-6[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_60t8w7aofqwz-5[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-2 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

ul.lst-kix_60t8w7aofqwz-4[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-6 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-6 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-3[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-7 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-1 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_z2xouny50gsi-7 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-0 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_60t8w7aofqwz-8 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-8 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-7 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_r0f4mw81x6k6-6 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_r0f4mw81x6k6-5 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-3 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_r0f4mw81x6k6-2 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-4 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-5 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_60t8w7aofqwz-4 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-5 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_73enm78wsupk-6 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_73enm78wsupk-7 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

li.li-bullet-0[b-arzyjhng22]:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_73enm78wsupk-8 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-0 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-1 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_r0f4mw81x6k6-8 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-2 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-5 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

ul.lst-kix_60t8w7aofqwz-8[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_60t8w7aofqwz-7[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_z2xouny50gsi-3 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-4 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

ol[b-arzyjhng22] {
    margin: 0;
    padding: 0
}

table td[b-arzyjhng22],
table th[b-arzyjhng22] {
    padding: 0
}

.c3[b-arzyjhng22] {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5[b-arzyjhng22] {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c1[b-arzyjhng22] {
    color: #000000;
    font-weight: 800;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Nunito";
    font-style: normal
}

.c2[b-arzyjhng22] {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Nunito";
    font-style: normal
}

.c0[b-arzyjhng22] {
    color: #000000;
    font-weight: 900;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 27pt;
    font-family: "Nunito";
    font-style: normal
}

.c4[b-arzyjhng22] {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c6[b-arzyjhng22] {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c9[b-arzyjhng22] {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c7[b-arzyjhng22] {
    font-size: 16pt;
    font-family: "Nunito";
    font-weight: 800
}

.c8[b-arzyjhng22] {
    padding: 0;
    margin: 0
}

.title[b-arzyjhng22] {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle[b-arzyjhng22] {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li[b-arzyjhng22] {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p[b-arzyjhng22] {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1[b-arzyjhng22] {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2[b-arzyjhng22] {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3[b-arzyjhng22] {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4[b-arzyjhng22] {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5[b-arzyjhng22] {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6[b-arzyjhng22] {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

.container[b-arzyjhng22] {
    width: 100%;
    margin: auto;
    padding: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 7px 15px rgba(0 0 0/20%);
}

ol[b-arzyjhng22] {
    list-style-type: decimal;
    padding-left: 20px;
}

    ol li[b-arzyjhng22] {
        margin-bottom: 10px;
    }

ul.no-bullet[b-arzyjhng22] {
    list-style-type: none;
    padding-left: 20px; /* Indent the nested list */
}
/* _content/TeamTracker/Views/Home/AboutUs.cshtml.rz.scp.css */
.title h4[b-t53rrdixfg] {
    display: inline-block;
    padding: 20px;
    color: #ff7f50; /* Changed to orange */
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1.2px;
    word-spacing: 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    text-transform: uppercase;
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    background: #fff; /* Added white background */
}

.wrapper .card_Container[b-t53rrdixfg] {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap; /* Changed to prevent wrapping */
    gap: 20px; /* Added to create space between members */
    margin: 40px 0;
    overflow-x: auto; /* Added to enable horizontal scrolling */
}

.card_Container .card[b-t53rrdixfg] {
    position: relative;
    width: 240px; /* Adjust as per your layout */
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff; /* Added white background */
}

.card .imbBx[b-t53rrdixfg], .imbBx img[b-t53rrdixfg] {
    width: 100%;
    height: 100%;
}

.card .content[b-t53rrdixfg] {
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    transition: bottom 0.5s;
    transition-delay: 0.65s;
}

.card:hover .content[b-t53rrdixfg] {
    bottom: 0;
    transition-delay: 0s;
}

.content .contentBx h3[b-t53rrdixfg] {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    transition-delay: 0.6s;
    opacity: 0;
    transform: translateY(-20px);
}

.card:hover .content .contentBx h3[b-t53rrdixfg] {
    opacity: 1;
    transform: translateY(0);
}

.content .contentBx h3 span[b-t53rrdixfg] {
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}

.content .sci[b-t53rrdixfg] {
    position: relative;
    bottom: 10px;
    display: flex;
}

    .content .sci li[b-t53rrdixfg] {
        list-style: none;
        margin: 0 10px;
        transform: translateY(40px);
        transition: 0.5s;
        opacity: 0;
        transition-delay: calc(0.2s * var(--i));
    }

.card:hover .content .sci li[b-t53rrdixfg] {
    transform: translateY(0);
    opacity: 1;
}

.content .sci li a[b-t53rrdixfg] {
    color: #fff;
    font-size: 24px;
}
/* _content/TeamTracker/Views/Home/Content.cshtml.rz.scp.css */
/* _content/TeamTracker/Views/Home/Index.cshtml.rz.scp.css */
header[b-27bfe23qpd], footer[b-27bfe23qpd]{
    display:none;
}
.wrapper[b-27bfe23qpd] {
    width: 1170px;
    margin: auto;
}

section[b-27bfe23qpd] {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/img/bb.png');
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.welcome-text[b-27bfe23qpd] {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .welcome-text h1[b-27bfe23qpd] {
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 60px;
        overflow: hidden;
        /* Ensures the text is hidden until it is animated */
        white-space: nowrap;
        /* Prevents the text from wrapping */
        border-right: 0.15em solid orange;
        /* Creates the cursor effect */
        animation: typing-b-27bfe23qpd 5s steps(30, end), blink-caret-b-27bfe23qpd 0.75s step-end infinite;
    }

        .welcome-text h1 span[b-27bfe23qpd] {
            color: rgba(103, 80, 164, 1);
            font-weight:bolder;
            font-size:70px;
        }

#go-register[b-27bfe23qpd] {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color:rgba(103, 80, 164, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@keyframes typing-b-27bfe23qpd {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* Cursor blink animation */
@keyframes blink-caret-b-27bfe23qpd {

    from, to {
        border-color: transparent;
    }

    50% {
        border-color: rgb(185, 101, 31);
    }
}
/* _content/TeamTracker/Views/Projects/Join.cshtml.rz.scp.css */
body[b-nbihocn94e] {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5ff;
}

.ctr[b-nbihocn94e] {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width:fit-content;
}

h1[b-nbihocn94e] {
    color: #4a47a3;
    margin-bottom: 20px;
}

section[b-nbihocn94e] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label[b-nbihocn94e] {
    font-size: 1rem;
    margin-bottom: 8px;
}

input[type="text"][b-nbihocn94e] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* _content/TeamTracker/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand[b-1y4rn3d1s8] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-pills .nav-link.active[b-1y4rn3d1s8], .nav-pills .show > .nav-link[b-1y4rn3d1s8] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-1y4rn3d1s8] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-1y4rn3d1s8] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-1y4rn3d1s8] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-1y4rn3d1s8] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-1y4rn3d1s8] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.btn-upgrade[b-1y4rn3d1s8] {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #d45fff;
    min-width: 170px;
    border: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 12px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
}

.btn-upgrade:hover[b-1y4rn3d1s8] {
    opacity: .95;
}

.btn-upgrade .animation[b-1y4rn3d1s8] {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}

.hover-primary:hover[b-1y4rn3d1s8] {
    color: #593196;
}

.menue i[b-1y4rn3d1s8], a[b-1y4rn3d1s8]{
    font-size: 17px;
}

.mt-100p[b-1y4rn3d1s8] {
    margin-top: 100px;
}
