
ul.lst-kix_z2xouny50gsi-3[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-2[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-1[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-0[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-7[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-6[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-5[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-4[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-8[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-8[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-6[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-7[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-2[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-4[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-1[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-5[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-4[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-2[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-3[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-3[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-6[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-0[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-5[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-1[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-8[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-7[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-0[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_73enm78wsupk-4 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-3 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_73enm78wsupk-2 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_73enm78wsupk-1 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-0 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-2[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-3 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-1[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_r0f4mw81x6k6-0 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-0[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_r0f4mw81x6k6-1 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

ul.lst-kix_60t8w7aofqwz-6[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_60t8w7aofqwz-5[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-2 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

ul.lst-kix_60t8w7aofqwz-4[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-6 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-6 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-3[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-7 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-1 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_z2xouny50gsi-7 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-0 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_60t8w7aofqwz-8 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-8 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-7 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_r0f4mw81x6k6-6 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_r0f4mw81x6k6-5 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-3 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_r0f4mw81x6k6-2 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-4 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-5 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_60t8w7aofqwz-4 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-5 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_73enm78wsupk-6 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_73enm78wsupk-7 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

li.li-bullet-0[b-arzyjhng22]:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_73enm78wsupk-8 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-0 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-1 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

.lst-kix_r0f4mw81x6k6-8 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-2 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-5 > li[b-arzyjhng22]:before {
    content: "\0025a0   "
}

ul.lst-kix_60t8w7aofqwz-8[b-arzyjhng22] {
    list-style-type: none
}

ul.lst-kix_60t8w7aofqwz-7[b-arzyjhng22] {
    list-style-type: none
}

.lst-kix_z2xouny50gsi-3 > li[b-arzyjhng22]:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-4 > li[b-arzyjhng22]:before {
    content: "\0025cb   "
}

ol[b-arzyjhng22] {
    margin: 0;
    padding: 0
}

table td[b-arzyjhng22],
table th[b-arzyjhng22] {
    padding: 0
}

.c3[b-arzyjhng22] {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5[b-arzyjhng22] {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c1[b-arzyjhng22] {
    color: #000000;
    font-weight: 800;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Nunito";
    font-style: normal
}

.c2[b-arzyjhng22] {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Nunito";
    font-style: normal
}

.c0[b-arzyjhng22] {
    color: #000000;
    font-weight: 900;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 27pt;
    font-family: "Nunito";
    font-style: normal
}

.c4[b-arzyjhng22] {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c6[b-arzyjhng22] {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c9[b-arzyjhng22] {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c7[b-arzyjhng22] {
    font-size: 16pt;
    font-family: "Nunito";
    font-weight: 800
}

.c8[b-arzyjhng22] {
    padding: 0;
    margin: 0
}

.title[b-arzyjhng22] {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle[b-arzyjhng22] {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li[b-arzyjhng22] {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p[b-arzyjhng22] {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1[b-arzyjhng22] {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2[b-arzyjhng22] {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3[b-arzyjhng22] {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4[b-arzyjhng22] {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5[b-arzyjhng22] {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6[b-arzyjhng22] {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

.container[b-arzyjhng22] {
    width: 100%;
    margin: auto;
    padding: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 7px 15px rgba(0 0 0/20%);
}

ol[b-arzyjhng22] {
    list-style-type: decimal;
    padding-left: 20px;
}

    ol li[b-arzyjhng22] {
        margin-bottom: 10px;
    }

ul.no-bullet[b-arzyjhng22] {
    list-style-type: none;
    padding-left: 20px; /* Indent the nested list */
}
