
ul.lst-kix_z2xouny50gsi-3 {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-2 {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-1 {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-0 {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-7 {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-6 {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-5 {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-4 {
    list-style-type: none
}

ul.lst-kix_z2xouny50gsi-8 {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-8 {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-6 {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-7 {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-2 {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-4 {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-1 {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-5 {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-4 {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-2 {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-3 {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-3 {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-6 {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-0 {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-5 {
    list-style-type: none
}

ul.lst-kix_73enm78wsupk-1 {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-8 {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-7 {
    list-style-type: none
}

ul.lst-kix_r0f4mw81x6k6-0 {
    list-style-type: none
}

.lst-kix_73enm78wsupk-4 > li:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-3 > li:before {
    content: "\0025cf   "
}

.lst-kix_73enm78wsupk-2 > li:before {
    content: "\0025a0   "
}

.lst-kix_73enm78wsupk-1 > li:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-0 > li:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-2 {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-3 > li:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-1 {
    list-style-type: none
}

.lst-kix_r0f4mw81x6k6-0 > li:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-0 {
    list-style-type: none
}

.lst-kix_r0f4mw81x6k6-1 > li:before {
    content: "\0025cb   "
}

ul.lst-kix_60t8w7aofqwz-6 {
    list-style-type: none
}

ul.lst-kix_60t8w7aofqwz-5 {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-2 > li:before {
    content: "\0025a0   "
}

ul.lst-kix_60t8w7aofqwz-4 {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-6 > li:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-6 > li:before {
    content: "\0025cf   "
}

ul.lst-kix_60t8w7aofqwz-3 {
    list-style-type: none
}

.lst-kix_60t8w7aofqwz-7 > li:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-1 > li:before {
    content: "\0025cb   "
}

.lst-kix_z2xouny50gsi-7 > li:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-0 > li:before {
    content: "\0025cf   "
}

.lst-kix_60t8w7aofqwz-8 > li:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-8 > li:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-7 > li:before {
    content: "\0025cb   "
}

.lst-kix_r0f4mw81x6k6-6 > li:before {
    content: "\0025cf   "
}

.lst-kix_r0f4mw81x6k6-5 > li:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-3 > li:before {
    content: "\0025cf   "
}

.lst-kix_r0f4mw81x6k6-2 > li:before {
    content: "\0025a0   "
}

.lst-kix_r0f4mw81x6k6-4 > li:before {
    content: "\0025cb   "
}

.lst-kix_60t8w7aofqwz-5 > li:before {
    content: "\0025a0   "
}

.lst-kix_60t8w7aofqwz-4 > li:before {
    content: "\0025cb   "
}

.lst-kix_73enm78wsupk-5 > li:before {
    content: "\0025a0   "
}

.lst-kix_73enm78wsupk-6 > li:before {
    content: "\0025cf   "
}

.lst-kix_73enm78wsupk-7 > li:before {
    content: "\0025cb   "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_73enm78wsupk-8 > li:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-0 > li:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-1 > li:before {
    content: "\0025cb   "
}

.lst-kix_r0f4mw81x6k6-8 > li:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-2 > li:before {
    content: "\0025a0   "
}

.lst-kix_z2xouny50gsi-5 > li:before {
    content: "\0025a0   "
}

ul.lst-kix_60t8w7aofqwz-8 {
    list-style-type: none
}

ul.lst-kix_60t8w7aofqwz-7 {
    list-style-type: none
}

.lst-kix_z2xouny50gsi-3 > li:before {
    content: "\0025cf   "
}

.lst-kix_z2xouny50gsi-4 > li:before {
    content: "\0025cb   "
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c3 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c5 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c1 {
    color: #000000;
    font-weight: 800;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    font-family: "Nunito";
    font-style: normal
}

.c2 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Nunito";
    font-style: normal
}

.c0 {
    color: #000000;
    font-weight: 900;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 27pt;
    font-family: "Nunito";
    font-style: normal
}

.c4 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Arial";
    font-style: normal
}

.c6 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.5;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c9 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c7 {
    font-size: 16pt;
    font-family: "Nunito";
    font-weight: 800
}

.c8 {
    padding: 0;
    margin: 0
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

.container {
    width: 100%;
    margin: auto;
    padding: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0px 7px 15px rgba(0 0 0/20%);
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

    ol li {
        margin-bottom: 10px;
    }

ul.no-bullet {
    list-style-type: none;
    padding-left: 20px; /* Indent the nested list */
}
