@model List<TeamTracker.Models.Task>
@if(Model != null){
@foreach (var t in Model)
{
        <div class="card curs-p taskBox text-white bg-primary rounded" onclick="appendTaskJS(@t.task_ID)">
			<div class="card-body ">
            <h4 class="card-title">@t.task_name</h4>

                @if (t.end_date >= DateTime.Now)
                {
                    <span class="badge bg-warning text-white">Not Compleated</span>
                }
                else if (t.status == "Done")
                {
                    <span class="badge bg-success text-white">Done</span>
                }
                else
                {
                    <span class="badge bg-danger text-white">EXPIRED</span>
                }

            <p class="text-secondary">@t.end_date</p>
        </div>
    </div>
}
}
