@{
	ViewData["Title"] = "Join Team";
}
<div class="position-relative w-100 p-5" >
	<div id="liveAlertPlaceholder" class="position-absolute top-0" style="width: fit-content;"></div>
    <div class="ctr mx-auto">
        <h1>Join team </h1>
        <form id="joinForm">
	        <input class="form-control form-control-lg w-100" type="text" placeholder="Enter Team Code" id="inputLarge">
            <button asp-controller="WorkSpace" asp-action="Space" asp-route-id="1000" id="liveAlertBtn" class="btn btn-primary">Join</button>
        </form>
    </div>
</div>
@section Scripts {
		<script>

    const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
    const appendAlert = (message, type) => {
        const wrapper = document.createElement('div')
        wrapper.innerHTML = [
            `<div class="alert alert-${type} alert-dismissible" role="alert">`,
            `   <div>${message}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
        ].join('')

        alertPlaceholder.append(wrapper)
    }

    const alertTrigger = document.getElementById('liveAlertBtn')
    if (alertTrigger) {
        alertTrigger.addEventListener('click', () => {
            appendAlert('Joined Successfully!', 'success')
        })
    }
		</script>
}